@media screen and (max-width: 1024px) and (min-width: 769px){
    :root{
        --main: 1024px;
        --container: 964px;
    }

    .header__content{
        padding: 3rem;
    }
}

@media screen and (max-width: 767px) {
    :root{
        --main:100%;
        --container: calc(100% - 2rem);

        --size--title--slider-70: 35px;
        --size--title-50: 25px;
        --size--desc--menu-14: 14px;

        --primery--color: #facb36;
    }
    #nav{
        height: 7rem;
    }
    .nav__logo{
        width: 8rem;
        height: 8rem;
    }

    .nav__btn{
        display: block;
    }

    .nav__menu{
        position: fixed;
        flex-direction: column;
        justify-content: start;
        background-color: #ffffff;
        z-index: 100;
        width: 90%;
        top: 0;
        bottom: 0;
        right: 0;
        box-shadow: 11px 10px 10px 10px;
        transform: translateX(100%);
        transition: all 0.2s linear;
    }

    .is-open{
        transform: translateX(0);
    }

    .nav__menu-close{
        font-size: var(--size--title-50);
        color: var(--primery--color);
        padding: 2rem;
        margin-right: auto;
    }
    .nav__menu-search,
    .nav__menu-shopping{
        margin: 1.5rem 0;
    }

    .nav__menu-item{
        padding: 1.5rem 0;
        margin-right: 0;
    }
    .nav__menu-item a,
    .nav__menu-search a i,
    .nav__menu-shopping a i{
        color: var(--primery--color);
    }
    #header{
        height: 50rem;
    }
    .header__content{
        padding: 1rem;
        top: 10rem;
        left: 0;
        transform: translate(0,0);
    }

    .header__content-body p{
        -webkit-line-clamp: 5;
    }

    #services{
        margin-top: 5rem;
    }

    .services__content-text{
        width: 100%;
        -webkit-line-clamp: 3;
    }
    
    .services__items{
        --column: 1;
    }

    .services__items-item{
        margin-bottom: 5rem;
    }


    .menu__content-btns .btn{
        font-size: var(--size--desc--menu-14);
        width: 9rem;
        height: 7rem;
    }

    .menu__content{
        width: 100%;
        padding: 1rem;
    }

    .menu__content-items{
        --column:1;
    }

    .menu__content-btn ~ .menu__content-btn{
        padding-left: 0.5rem;
    }

    .things__content-text{
        padding: 1rem;
        -webkit-line-clamp: 6;
        overflow: hidden;
        text-align: start;
    }

    .things__items-item{
        width: 100%;
        padding: 5rem 1rem;
    }

    .things__items-item--none{
        display: none;
    }

    #arabica{
        padding: 5rem 0;
    }
    .arabica__content-text{
        width: 100%;
        -webkit-line-clamp: 5;
    }


    .contact__content{
        flex-direction: column;
    }

    .contact__content-us,
    .contact__content-input{
        width: 100%;
    }

    .contact__content-btn input,
    .contact__content-mes input,
    .contact__content-select select,
    .contact__content-info input{
    margin-bottom: 1rem;
    }

    .contact__content-item p{
        font-size: var(--size--desc--menu-14)
    }

    .contact__content-email,
    .contact__content-name{
    width: calc(50% - 0.5rem) !important;
    }

    #about{
        margin-top: 5rem;
        padding-bottom: 3rem;
    }

    .about__logo{
        margin-top: 5rem;
    }

    .about__content-text{
        padding: 1rem;
        font-size: var(--size--desc--menu-14);
        -webkit-line-clamp: 4;
    }

    .about__subscribe input{
        width: 90%;
    }

    .about__btn button{
        height: 3rem;
        width: 3rem;
        font-size: var(--size--title-50);
    }
}

@media screen and (width: 768px) {
    :root{
        --main: 768px;
        --container: 748px;
    }

    .services__items{
        --column: 2;
    }

    .services__items-item{
        margin-bottom: 2rem;
    }

    .things__items-item{
        padding: 5rem;
    }

    .menu__content{
        width: 100%;
    }
}